<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      EDCS 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      
    </ion-toolbar>
  </ion-header>
<ion-grid>
  <ion-row>
    <ion-col size="12">
      <h3 class="ion-text-center">Teacher's Details Search Sample App</h3>
    </ion-col>
  </ion-row>

  <div text-center>
    <ion-img width="180" height="180" src="assets/logo.jpg"></ion-img>  
 </div>

 <div class="btn-center">
  <ion-button [routerLink]="'/search'" shape="round">Go To Search</ion-button>
 </div>

<ion-row style="text-align: center">
  

</ion-row>
  
</ion-grid>
     
</ion-content>
