<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      EDCS 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      
    </ion-toolbar>
  </ion-header>


  <ion-card>
    <ion-card-header>
      
      <ion-card-title>Teacher's Details Search Sample App</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-row>
        <ion-col class="ion-align-self-center">
          <ion-img width="180" height="180" src="assets/logo.jpg"></ion-img>  
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-slides [options]="options">
    <ion-slide>
     <ion-grid>
       <ion-row>
         <ion-col size="12" class="poster-col">
           <h1>Property Lone</h1>
         </ion-col>
       </ion-row>
     </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="poster-col">
            <h1>Guarantee Lone</h1>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="poster-col">
            <h1>Goods Loan</h1>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>

<ion-grid>
  
  <ion-row>
    <ion-col class="ion-align-self-center">
      <ion-button [routerLink]="'/search'" shape="round">Go To Search</ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="ion-align-self-center">
      <ion-button  shape="round">EDCS Latest News & Events</ion-button>
    </ion-col>
  </ion-row>


<ion-row style="text-align: center">
  

</ion-row>
  
</ion-grid>
     
</ion-content>
